/myapp/__pycache__/
/myapp/*.py[co]
/myapp/*.pyd
/myapp/*.pyz*
/myapp/*.pycachefiles

/myapp/*.log
/myapp/*.out
/myapp/*.pid

/myapp/venv/
/myapp/env/
/myapp/pipenv/
/myapp/.venv/
/myapp/.python-version

/myapp/.idea/
/myapp/.vscode/
/myapp/*.sublime-project
/myapp/*.sublime-workspace

/myapp/*.env*
/myapp/*.sqlite3
/myapp/*.db
/myapp/*.swp
/myapp/*~
/myapp/.DS_Store
/myapp/Thumbs.db

/myapp/files/

/db/
/redis/
